SQM/Lib_SQM_Domain/Web References/dev145/SQM_AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://icm051/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://icm051/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://icm051/">
      <s:element name="SP_CreateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizedID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizedPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewUserPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RoleID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SP_CreateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SP_CreateAccountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SP_CreateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:SP_CreateAccount" />
  </wsdl:message>
  <wsdl:message name="SP_CreateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:SP_CreateAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="SQM_AccountServiceSoap">
    <wsdl:operation name="SP_CreateAccount">
      <wsdl:input message="tns:SP_CreateAccountSoapIn" />
      <wsdl:output message="tns:SP_CreateAccountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SQM_AccountServiceSoap" type="tns:SQM_AccountServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SP_CreateAccount">
      <soap:operation soapAction="http://icm051/SP_CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SQM_AccountServiceSoap12" type="tns:SQM_AccountServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SP_CreateAccount">
      <soap12:operation soapAction="http://icm051/SP_CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQM_AccountService">
    <wsdl:port name="SQM_AccountServiceSoap" binding="tns:SQM_AccountServiceSoap">
      <soap:address location="http://dev145/Services/SQM_AccountService.asmx" />
    </wsdl:port>
    <wsdl:port name="SQM_AccountServiceSoap12" binding="tns:SQM_AccountServiceSoap12">
      <soap12:address location="http://dev145/Services/SQM_AccountService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>