SQM/Lib_SQM_Domain/Web References/icm045/CMSHandler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MailSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Priority" type="tns:MailPriority" />
            <s:element minOccurs="1" maxOccurs="1" name="BodyFormat" type="tns:MailFormat" />
            <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="MailPriority">
        <s:restriction base="s:string">
          <s:enumeration value="Normal" />
          <s:enumeration value="Low" />
          <s:enumeration value="High" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="MailFormat">
        <s:restriction base="s:string">
          <s:enumeration value="Text" />
          <s:enumeration value="Html" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="MailSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MailSendResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResultQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResultQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResultQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MailSendSoapIn">
    <wsdl:part name="parameters" element="tns:MailSend" />
  </wsdl:message>
  <wsdl:message name="MailSendSoapOut">
    <wsdl:part name="parameters" element="tns:MailSendResponse" />
  </wsdl:message>
  <wsdl:message name="ResultQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ResultQuery" />
  </wsdl:message>
  <wsdl:message name="ResultQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ResultQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="CMSHandlerSoap">
    <wsdl:operation name="MailSend">
      <wsdl:input message="tns:MailSendSoapIn" />
      <wsdl:output message="tns:MailSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResultQuery">
      <wsdl:input message="tns:ResultQuerySoapIn" />
      <wsdl:output message="tns:ResultQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMSHandlerSoap" type="tns:CMSHandlerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MailSend">
      <soap:operation soapAction="http://tempuri.org/MailSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResultQuery">
      <soap:operation soapAction="http://tempuri.org/ResultQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMSHandler">
    <wsdl:port name="CMSHandlerSoap" binding="tns:CMSHandlerSoap">
      <soap:address location="http://icm045/CMSHandler/CMSHandler.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>