SQM/Lib_SQM_Domain/Web References/dev281/SQM_AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SQM_CreateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizedID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewUserPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RoleID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailAddr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SQM_CreateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SQM_CreateAccountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SQM_CreateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:SQM_CreateAccount" />
  </wsdl:message>
  <wsdl:message name="SQM_CreateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:SQM_CreateAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="SQM_AccountServiceSoap">
    <wsdl:operation name="SQM_CreateAccount">
      <wsdl:input message="tns:SQM_CreateAccountSoapIn" />
      <wsdl:output message="tns:SQM_CreateAccountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SQM_AccountServiceSoap" type="tns:SQM_AccountServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SQM_CreateAccount">
      <soap:operation soapAction="http://tempuri.org/SQM_CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SQM_AccountServiceSoap12" type="tns:SQM_AccountServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SQM_CreateAccount">
      <soap12:operation soapAction="http://tempuri.org/SQM_CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQM_AccountService">
    <wsdl:port name="SQM_AccountServiceSoap" binding="tns:SQM_AccountServiceSoap">
      <soap:address location="https://vmitraining.liteon.com/LiteOnSupplierWSService/SQM_AccountService.asmx" />
    </wsdl:port>
    <wsdl:port name="SQM_AccountServiceSoap12" binding="tns:SQM_AccountServiceSoap12">
      <soap12:address location="https://vmitraining.liteon.com/LiteOnSupplierWSService/SQM_AccountService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>